@import '../base/variables.scss';

.link {
  font-size: 18px;
  color: $gray1;

  @media (max-width: $md-screen) {
    font-size: 20px;
    padding-top: 2em;

    &:first-child {
      padding-top: 11em;
    }

    &:nth-child(5) {
      padding-bottom: 9em;
    }
  }
}

.link_icon {
  &:nth-child(8) {
    margin-left: 2em;
  }

  @media (max-width: $md-screen) {
    display: none;
  }
}

.narrow_screen_icons {
  display: flex;
  justify-content: center;

  & > a {
    padding: 1em
  }

  @media (min-width: $md-screen) {
    display: none;
  }
}

.nav_item {
  font-size: 14px;
  padding-bottom: 2em;

  @media (min-width: $md-screen) {
    display: none;
  }
}

.tag_line {
  font-size: 14px;
  color: $gray1;
}

.navbar_collapse {
  @media (max-width: $md-screen) {
    text-align: center;
    width: 100vw;
    height: 100vh;
  }

  &::before {
    @media (max-width: $md-screen) {
      content: '';
      background: url('../../../public/sweater_2.png') 
          no-repeat center center/cover;
      position: absolute;
      opacity: 0.25;
      left: 0px;
      width: 100vw;
      height: 100vh;
      z-index: -1;
      filter: blur(2px);
    }
  }
}