@import '../base/variables.scss';

.slogan_col_1 {
  width: 35%;
}

.slogan_sweater_1 {
  width: 100%;
  transform: translate(3%, 6%);
}

.slogan_col_2 {
  width: 28%;
  position: relative;
}

.sweater_slogan {
  width: 80%;
  transform: translateX(14%);
}

.slogan_sweater_2 {
  width: 100%;
  z-index: 1;
  position: relative;
  left: 2%;
  // top: 120px;
}

.slogan_col_3 {
  width: 35%;
  
}

.slogan_sweater_3 {
  width: 100%;
  transform: translate(-3%, 20px);
  height: 95%
}

.separator {
  width: 100%;
  line-height: 40px;
  text-align: center;
  color: white;
  background-color: $orange1;
  position: absolute;
  z-index: 2;
  transform: translate(-12px, -70%);

  @media (min-width: $wide-screen) {
    transform: translate(-12px, -110%);
  }
}