// colors

$gray1: #505B5F;
$gray2: #505A5F;
$gray3: #C5C5C5;
$gray4: #B8B8B8;

$orange1: #F5B05F;

// screens
$xxxl-screen: 1780px;
$xxl-screen: 1400px;
$xl-screen: 1200px;
$lg-screen: 992px;
$md-screen: 768px;